/*HOMEPAGE*/
/*header*/
.header_content{padding: 65px 0;}
.home_slider_background{position: relative;}
.home_slider_background::after{content: "";position: absolute;display: block;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,.5);}
.home_slider_title, .home_slider_subtitle{color: #fff;}
.home_slider_title{font-family: 'Lato', sans-serif;}
.home_search_form div{width: 100%;}


.catalogue-container .search_container img{width: 64px; height: 64px;display: block;margin-left: auto;margin-right: auto;} 
.catalogue-container .search_container div{width: 100%;border: 1px solid #a9a9a9;border-radius: 30px;} 
.catalogue-container .search_container input{width: 95%;border: none;display: block;margin-left: 4px;} 
:not(:last-child).search_container{border-right: none;} 
.catalogue-container .search_container button{background-color: #fff;border: none;cursor: pointer;} 
.catalogue-container .search_container button:hover{background-color: #fff;border: none;} 
.catalogue-container .search_container img{width: 25px; height: 25px;}

.catalogue {
	background-color: #fafafa;
}

.catalogue-container{
	width: 100%;
    height: 850px;
    top: 250px;
    
}

.catalogue-container span{
	font-size: 15px;
	margin-top: 10px;
	color: #333;
	font-weight: bold;

}


.catalogue-container .img-fluid{
	width: 64px;
	height: 64px;
}

.catalogue-container .search-box {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #253640;
	background-position: center;
	height: 40px;
	border-radius: 40px;
	padding: 0px;
	margin-bottom: 50px;
}

.catalogue-container .search-box:hover > .search-text {
	width: 400px;
	padding: 0px 0px 0px 15px;

}

.catalogue-container .search-box:hover > .search-button {
	background: #253640;
}

.catalogue-container .search-button {
	color: #3399ff;
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #2f3640;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
	padding: 0px;
	
}

.catalogue-container .search-text {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0px;
	color: white;
	font-size: 16px;
	transition: 0.4s;
	line-height: 40px;
	width: 0px;

}

.catalogue-icon-container:hover .catalogue-icon {
	transform: scale(1.1);
	transition-duration: 0.1s;
}

/*.catalogue .box{
	position: relative;
	width: 370px;
	height: 270px;
	background: blue;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 10px;

}

.catalogue .box .icon {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #253640;
	transition: 0.5s;
	z-index: 1;

}

.catalogue .box:hover .icon {
	top: 20px;
	right: ;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	
}

.catalogue .box .icon .fas {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 80px;
	transition: 0.5s;
	color: #3399ff;
	
}

.catalogue .box:hover .icon .fas {
	font-size: 40px;
	
}*/


.catalogue-icon-container button {
	display: inline-block;
  	position: relative;
  	background: none;
 	border: none;
 	color: none;
 	cursor: pointer;
	margin-top: 10px;
	padding: 5px 10px;

}

.catalogue-icon-container button::before, button::after{
  content:"";
  width: 0;
  height: 3px;
  position: absolute;
  transition: all 0.2s linear;
  background: #3399ff;
}

.catalogue-icon-container span::before, span::after{
  content:"";
  width: 3px;
  height:0;
  position: absolute;
  transition: all 0.2s linear;
  background: #3399ff;
}

.catalogue-icon-container button:hover::before, button:hover::after{
  width: 100%;
}

.catalogue-icon-container button:hover span::before, button:hover span::after{
  height: 100%;
}

.catalogue-icon-container .button-effects::after{
  left: 0;
  bottom: 0;
  transition-delay: 0.3s;
}
.catalogue-icon-container .button-effects span::after{
  transition-delay: 0.2s;
  right: 0;
  bottom: 0
}
.catalogue-icon-container .button-effects::before{
  right: 0;
  top: 0;
  transition-delay: 0.1s;
}
.catalogue-icon-container .button-effects span::before{
  transition-delay: 0s;
  left: 0;
  top: 0;
}

.catalogue-icon-container .button-effects:hover::after{
  transition-delay: 0s;
}
.catalogue-icon-container .button-effects:hover span::after{
  transition-delay: 0.1s;
}
.catalogue-icon-container .button-effects:hover::before{
  transition-delay: 0.2s;
}
.catalogue-icon-container .button-effects:hover span::before{
  transition-delay: 0.3s;
}


/*utility*/
.shadow-overlay{position: absolute;display: block;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,.5);}
.border-bottom{border-bottom: 1px solid #e9ecef!important;}

/*general*/
.checkbox label:after, 
.radio label:after {content: '';display: table;clear: both;}

.checkbox .cr,
.radio .cr {position: relative;display: inline-block;border: 1px solid #a9a9a9;border-radius: .25em;width: 1.3em;height: 1.3em;float: left;margin-right: .5em;}
.radio .cr {border-radius: 50%;}
.checkbox .cr .cr-icon,
.radio .cr .cr-icon {position: absolute;font-size: .8em;line-height: 0;top: 50%;left: 20%;}
.radio .cr .cr-icon {margin-left: 0.04em;}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {display: none;}
.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {transform: scale(3) rotateZ(-20deg);opacity: 0;transition: all .3s ease-in;}
.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {transform: scale(1) rotateZ(0deg);opacity: 1;}
.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {opacity: .5;}

/*HOMEPAGE*/
/*header*/
.header_content{padding: 65px 0;}
.home{min-height: 100px;}
.top_bar{position: relative;left: 0;bottom: 0;}

/*homepage*/
/* .home_slider_background{position: relative;} */
/*.home_slider_background::after{content: "";position: absolute;display: block;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,.5);}*/
.home_slider_title, .home_slider_subtitle{color: #fff;}
.home_slider_title{font-family: 'Lato', sans-serif;}
.home_slider_content{position: relative;top: 200px;}
.home_slider_content table{font-family: Arial, Helvetica, sans-serif;border-collapse: collapse;width: 20%;display: block;margin-left: 90%;height: 100px;}
.home_slider_content img.home_logos{width: 64px; height: 64px;display: block;margin-left: auto;margin-right: auto;}
.home_search_form div{width: 100%;border: 1px solid #a9a9a9;border-radius: 30px;}
.home_search_form input{width: 95%;border: none;display: block;margin-left: 4px;}
:not(:last-child).home_search_input{border-right: none;}
.home_search_form button{background-color: #fff;border: none;cursor: pointer;}
.home_search_form button:hover{background-color: #fff;border: none;}
.home_search_form img{width: 25px; height: 25px;}

.booking_form{height: 100%;padding-left: 40px;padding-right: 40px;box-shadow: 0px 5px 40px rgba(29,34,47,0.15);}
.booking-input-container{display: flex}
.booking-input-label{padding: 7px 19px;text-align: center;cursor: pointer;}
.booking-input{display: none;position: relative;}
.booking-input-box{padding: 5px;}
.booking-input + .booking-input-box{border: none;}
.booking-input:checked + .booking-input-box{border: 2px solid #14bdee;}

/*CONTACT PAGE*/
.map_container{background-image: url('../my_images/contact_bg.jpg');background-position: center top;position: relative;display: flex;flex-direction: column;justify-content: center;}

/*RESULT PAGE*/
.result-container{margin-top: 180px;}
.result-container .badge{font-size: 16px;}
.result-container .card-header{padding: 0;}
